body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0rem;
}

header h1 {
  margin: 0;
}

main {
  display: flex;
  align-items: center;
  flex: 1;
  width: 300px;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
}

.login-form {
  background-color: #fff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

.login-form h2 {
  margin-bottom: 1rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.login-form input {
  width: calc(100% - 18px);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 30px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

#main_admin_main {
  width: 100%;
}

#main_admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100vw;
  height: calc(100vh - 80px - 56px);
  gap: 10px;
}

#main_admin section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#related {
  grid-column: 1/3;
  grid-row: 1/2;
}

#infected {
  grid-column: 1/2;
  grid-row: 2/3;
}

#contact {
  grid-column: 2/3;
  grid-row: 2/3;
}

#main_user_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#main_user_main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#main_user_main section h2 {
  margin-bottom: 0px;
}

#main_user_main button {
  padding: 10px;
  border-radius: 20px;
  background-color: gray;
  border-color: black;
  cursor: pointer;
}

#main_user_main section button:first-of-type {
  background-color: black;
  border-color: black;
  color: white;
}

#main_user_main section button:first-of-type::after {
  border: 1px solid white;
}

#main_user_main section button:last-of-type {
  background-color: white;
  border-color: black;
}
