<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>アクション一覧</title>
</head>

<body>
    <h1>アクション一覧</h1>
    <table border="1">
        <thead>
            <tr>
                <th>action_tableID</th>
                <!--<th>User ID</th>-->
                <th>開始日時</th>
                <th>終了日時</th>
                <th>移動手段</th>
                <th>出発地</th>
                <th>出発地の混み具合</th>
                <th>中継地1</th>
                <th>中継地1の混み具合</th>
                <th>中継地2</th>
                <th>中継地2の混み具合</th>
                <th>中継地3</th>
                <th>中継地3の混み具合</th>
                <th>到着地</th>
                <th>到着地の混み具合</th>
                <th>移動手段</th>
                <!--<th>最終更新日時</th>-->
            </tr>
        </thead>
        <tbody>
            {% for action in actions %}
            <tr>
                <td>{{ action.actionID }}</td>
                <!--<td>{{ action.userID }}</td>-->
                <td>{{ action.action_date_start }}</td>
                <td>{{ action.action_date_end }}</td>
                <td>{{ action.move_method }}</td>
                <!--<td>{{ action.lastupdate }}</td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>