<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>行動記録表 入力</title>
    <meta charset="utf-8" />
    <style>
      #date-wrapper {
        display: flex;
        justify-content: center;
        gap: 25px;
      }
      #move_method_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 8px;
      }
      .date-input {
        display: flex;
        flex-direction: column;
        justify-content: left;
      }
      .date-input button {
        margin-bottom: 0;
      }
      .action-place {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      .button-container {
        display: flex;
        justify-content: space-around;
        margin: 16px 0px;
        gap: 20px;
      }
      .companion-button {
        margin: 0px 0px 20px 0px;
      }
      .companion-container {
        display: grid;
        grid-template-columns: 250px 1fr 1fr;
        padding: 0px 100px;
        gap: 10px;
      }
      .companion-label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    </style>
    <script>
      function checkWaypointSelection(selectId, inputId) {
        var selectElement = document.getElementById(selectId);
        var inputElement = document.getElementById(inputId);

        if (selectElement.value === "other") {
          inputElement.style.display = "inline-block";
          inputElement.required = true;
        } else {
          inputElement.style.display = "none";
          inputElement.required = false;
        }
      }

      // 新しい同行者名の入力フィールドを追加する関数
      function addCompanionInput() {
        const wapper = document.getElementById("companion-wrapper");
        const container = document.createElement("div");
        container.className = "companion-container";
        const inputCount = container.children.length + 1;

        // 新しい入力フィールドのHTML要素を作成
        const newInput = document.createElement("input");
        newInput.type = "text";
        newInput.name = "companion_person_" + inputCount; // フォームデータ送信時に使用する名前
        newInput.placeholder = "同行者名";

        // 改行を追加してから新しい入力フィールドをコンテナに追加
        container.appendChild(newInput);

        // 新しいマスクのラジオボタンを作成
        const newRadioYes = document.createElement("input");
        newRadioYes.type = "radio";
        newRadioYes.id = "yes_mask_" + inputCount;
        newRadioYes.name = "mask_" + inputCount;
        newRadioYes.value = "yes";
        newRadioYes.required;
        const labelYes = document.createElement("label");
        labelYes.setAttribute("for", "yes_mask_" + inputCount);
        labelYes.textContent = "マスクあり";
        labelYes.className = "companion-label";
        labelYes.appendChild(newRadioYes);

        const newRadioNo = document.createElement("input");
        newRadioNo.type = "radio";
        newRadioNo.id = "no_mask_" + inputCount;
        newRadioNo.name = "mask_" + inputCount;
        newRadioNo.value = "no";
        newRadioNo.required;
        const labelNo = document.createElement("label");
        labelNo.setAttribute("for", "no_mask_" + inputCount);
        labelNo.textContent = "マスクなし";
        labelNo.className = "companion-label";
        labelNo.appendChild(newRadioNo);

        // 改行を追加してから新しい入力フィールドとラジオボタンをコンテナに追加
        container.appendChild(newInput);
        container.appendChild(labelYes);
        container.appendChild(labelNo);

        wapper.appendChild(container);

        const deleteButton = document.getElementById("companion-delete-button");
        deleteButton.style.display = "block";
      }

      // 同行者入力フォームを削除する関数
      function deleteCompanionInput() {
        const companionWrapper = document.getElementById("companion-wrapper");
        const deleteButton = document.getElementById("companion-delete-button");
        console.log("delete");
        if (companionWrapper && companionWrapper.lastElementChild) {
          // 最後の子要素を削除
          companionWrapper.removeChild(companionWrapper.lastElementChild);
        }
        if (companionWrapper.children.length == 0) {
          deleteButton.style.display = "none";
        }
      }
    </script>
    <link rel="stylesheet" href="../static/style.css" />
  </head>

  <body>
    <header>
      <p>{{userName}}</p>
      <h1>COVID-19状況管理システム</h1>
      <form action="/logout" method="post" id="logout">
        <button type="submit">ログアウト</button>
      </form>
    </header>
    <h2>行動記録の入力</h2>
    <form action="/action_input" method="POST" id="action-input">
      <div id="date-wrapper">
        <label for="start_date_time" class="date-input">
          開始日時<input
            type="datetime-local"
            name="start_date_time"
            required
          />
        </label>
        <label for="end_date_time" class="date-input">
          終了日時<input type="datetime-local" name="end_date_time" required />
        </label>
      </div>

      <div id="move_method_wrapper">
        <label for="move_method">
          移動方法
          <select
            name="move_method"
            id="move_method"
            required
            onchange="checkWaypointSelection('move_method','new-method')"
          >
            <option value="">選択してください</option>
            {% for row in data %}
            <option value="{{row.move_method_tableID}}">
              {{row.move_method}}
            </option>
            {% endfor %}
            <option value="other">その他</option>
          </select>
        </label>
        <div style="display: flex; align-items: center">
          <input
            type="text"
            id="new-method"
            style="display: none; height: 16px; margin: 0px"
            placeholder="移動方法を入力してください"
            name="new-method"
          />
        </div>
      </div>

      <div class="action-place">
        <label>
          出発地<select
            id="departure_select"
            name="place_of_departure1"
            onchange="checkWaypointSelection('departure_select', 'departure_input')"
            required
          >
            <option value="">選択してください</option>
            <option value="1">茅野駅</option>
            <option value="2">大学</option>
            <option value="3">ファミレス</option>
            <option value="4">自宅</option>
            <option value="5">コンビニ</option>
            <option value="other">その他</option>
          </select>
        </label>
        <label>
          出発地の混み具合<select name="departure_crowd" required>
            <option value="">選択してください</option>
            <option value="1">1 - 空いている</option>
            <option value="2">2 - 少し混んでいる</option>
            <option value="3">3 - 普通</option>
            <option value="4">4 - 混んでいる</option>
            <option value="5">5 - 非常に混んでいる</option>
          </select>
        </label>
      </div>
      <input
        type="text"
        id="departure_input"
        name="place_of_departure2"
        style="display: none"
        placeholder="出発地点を入力してください"
      />
      <div class="action-place">
        <label>
          中継地点1<select
            id="waypoint_select1"
            name="waypoint1"
            onchange="checkWaypointSelection('waypoint_select1', 'waypoint_input1')"
            required
          >
            <option value="no">なし</option>
            <option value="1">茅野駅</option>
            <option value="2">大学</option>
            <option value="3">ファミレス</option>
            <option value="4">自宅</option>
            <option value="5">コンビニ</option>
            <option value="other">その他</option>
          </select>
        </label>
        <label>
          <input
            type="text"
            id="waypoint_input1"
            name="waypoint1_2"
            style="display: none"
            placeholder="その他の中継地点を入力してください"
          />
          中継地点1の混み具合<select name="waypoint1_crowd" required>
            <option value="6">6 - なし</option>
            <option value="1">1 - 空いている</option>
            <option value="2">2 - 少し混んでいる</option>
            <option value="3">3 - 普通</option>
            <option value="4">4 - 混んでいる</option>
            <option value="5">5 - 非常に混んでいる</option>
          </select>
        </label>
      </div>
      <div class="action-place">
        <label>
          中継地点2<select
            id="waypoint_select2"
            name="waypoint2"
            onchange="checkWaypointSelection('waypoint_select2', 'waypoint_input2')"
            required
          >
            <option value="no">なし</option>
            <option value="1">茅野駅</option>
            <option value="2">大学</option>
            <option value="3">ファミレス</option>
            <option value="4">自宅</option>
            <option value="5">コンビニ</option>
            <option value="other">その他</option>
          </select>
        </label>
        <label>
          <input
            type="text"
            id="waypoint_input2"
            name="waypoint2_2"
            style="display: none"
            placeholder="その他の中継地点を入力してください"
          />
          中継地点2の混み具合<select name="waypoint2_crowd" required>
            <option value="6">6 - なし</option>
            <option value="1">1 - 空いている</option>
            <option value="2">2 - 少し混んでいる</option>
            <option value="3">3 - 普通</option>
            <option value="4">4 - 混んでいる</option>
            <option value="5">5 - 非常に混んでいる</option>
          </select>
        </label>
      </div>
      <div class="action-place">
        <label>
          中継地点3<select
            id="waypoint_select3"
            name="waypoint3"
            onchange="checkWaypointSelection('waypoint_select3', 'waypoint_input3')"
            required
          >
            <option value="no">なし</option>
            <option value="1">茅野駅</option>
            <option value="2">大学</option>
            <option value="3">ファミレス</option>
            <option value="4">自宅</option>
            <option value="5">コンビニ</option>
            <option value="other">その他</option>
          </select>
        </label>
        <label>
          <input
            type="text"
            id="waypoint_input3"
            name="waypoint3_2"
            style="display: none"
            placeholder="その他の中継地点を入力してください"
          />
          中継地点3の混み具合<select name="waypoint3_crowd" required>
            <option value="6">6 - なし</option>
            <option value="1">1 - 空いている</option>
            <option value="2">2 - 少し混んでいる</option>
            <option value="3">3 - 普通</option>
            <option value="4">4 - 混んでいる</option>
            <option value="5">5 - 非常に混んでいる</option>
          </select>
        </label>
      </div>
      <div class="action-place">
        <label>
          到着地<select
            id="arrival_select"
            name="place_of_arrival1"
            onchange="checkWaypointSelection('arrival_select', 'arrival_input')"
            required
          >
            <option value="">選択してください</option>
            <option value="1">茅野駅</option>
            <option value="2">大学</option>
            <option value="3">ファミレス</option>
            <option value="4">自宅</option>
            <option value="5">コンビニ</option>
            <option value="other">その他</option>
          </select>
        </label>
        <label>
          <input
            type="text"
            id="arrival_input"
            name="place_of_arrival2"
            style="display: none"
            placeholder="その他の到着地点を入力してください"
            required
          />
          到着地の混み具合<select name="arrival_crowd" required>
            <option value="">選択してください</option>
            <option value="1">1 - 空いている</option>
            <option value="2">2 - 少し混んでいる</option>
            <option value="3">3 - 普通</option>
            <option value="4">4 - 混んでいる</option>
            <option value="5">5 - 非常に混んでいる</option>
          </select>
        </label>
      </div>
      <p>同行者名入力フォーム</p>
      <button
        type="button"
        onclick="addCompanionInput()"
        class="companion-button"
      >
        同行者を入力するテキストボックスを追加
      </button>
      <div id="companion-wrapper">
        <!-- 動的に追加される同行者名入力フィールドとマスクのラジオボタンのコンテナ -->
      </div>
      <button
        type="button"
        id="companion-delete-button"
        onclick="deleteCompanionInput()"
        class="companion-button"
        style="display: none"
      >
        同行者を入力するテキストボックスを削除
      </button>
      <div class="button-container">
        <input type="submit" value="登録" />
        <input type="reset" value="リセット" />
      </div>
    </form>
    <form action="{{ main_link }}" method="post" class="to-main">
      <button type="submit">メイン画面に戻る</button>
    </form>
    <footer>
      <p>2024 DB論 第4班 rights reserved.</p>
    </footer>
  </body>
</html>
