<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <h1>COVID-19状況管理システム</h1>
    </header>

    <main id="main_admin_main">
      <div id="main_admin">
        <section id="related">related</section>
        <section id="infected">infected</section>
        <section id="contact">contact</section>
      </div>
    </main>

    <footer>
      <p>2024 DB論 第4班 rights reserved.</p>
    </footer>
  </body>
</html>
