<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <header>
      <h1>COVID-19状況管理システム</h1>
    </header>

    <main id="main_user_main">
      <section>
        <h2>体調観察表</h2>
        <form action="">
          <input type="hidden" value= />
          <button type="submit">入力</button>
        </form>
        <button onclick="location.href=''">表示</button>
      </section>
      <section>
        <h2>行動記録表</h2>
        <button onclick="location.href=''">入力</button>
        <button onclick="location.href=''">表示</button>
      </section>

      <button onclick="location.href=''">ワクチン接種履歴</button>
    </main>

    <footer>
      <p>2024 DB論 第4班 rights reserved.</p>
    </footer>
  </body>
</html>
